{% extends 'admin/base_admin.html' %}
{% block title %}
    Edit Lesson
{% endblock %}
{% block content_header %}
    <div class="col-lg-5">
        <span class="text-blue"> Edit Lesson</span>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <form action="" method="post" role="form" class="form-group">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group {% if field.errors %} has-error {% endif %} has-feedback">
                        <span class="text-success">{{ field.name }}</span>
                        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}"
                               class="form-control" placeholder="{{ field.name }}" value="{{ field.value }}">
                        <span class="help-block">{{ field.errors }}</span>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary ">Edit</button>
                        <button type="reset" class="btn btn-primary ">Reset</button>
                        <a href="{% url 'admin:admin-list-lesson' %}" role="button" class="btn btn-primary ">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}