{% extends 'admin/base_admin.html' %}
{% block title %}
    List Word
{% endblock %}
{% block content_header %}
    <div class="col-lg-5">
        <span class="text-blue">List Word</span>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-11 margin">
{#            <table class="table table-bordered table-hover">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th class="col-lg-1">ID</th>#}
{#                    <th class="col-lg-4">Name</th>#}
{#                    <th class="col-lg-6">Content</th>#}
{#                    <th class="col-lg-1"><a href="{% url 'admin:admin-create-course' %}" role="button"#}
{#                                            class="btn btn-danger btn-sm">Create New</a></th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for obj in list_course %}#}
{#                    <tr>#}
{#                        <td class="col-lg-1"><a class=" text-info"#}
{#                                                href="{% url 'admin:admin-detail-course' obj.id %}">{{ obj.id }}</a>#}
{#                        </td>#}
{#                        <td class="col-lg-4"><a class=" text-info"#}
{#                                                href="{% url 'admin:admin-detail-course' obj.id %}">{{ obj.name }}</a>#}
{#                        </td>#}
{#                        <td class="col-lg-6"><a class=" text-info"#}
{#                                                href="{% url 'admin:admin-detail-course' obj.id %}">{{ obj.content }}</a>#}
{#                        </td>#}
{#                        <td class="col-lg-1">#}
{#                            <a href="{% url 'admin:admin-edit-course' obj.id %}"#}
{#                               class="btn btn-success btn-xs no-margin" role="button">Edit</a>#}
{##}
{#                            <form action="{% url 'admin:admin-delete-course' %}" method="post" style="float: right;">#}
{#                                {% csrf_token %}#}
{#                                <input type="hidden" name="id_course" value="{{ obj.id }}">#}
{#                                <button type="submit" class="btn btn-danger btn-xs"#}
{#                                        onclick="return confirm('Are you sure you want remover user ?')">Delete#}
{#                                </button>#}
{#                            </form>#}
{#                        </td>#}
{##}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
        </div>
    </div>
{% endblock %}