{% extends 'admin/base_admin.html' %}
{% block title %}
    Detail Lesson
{% endblock %}
{% block content_header %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-lg-12">
            <legend>
            <span class="text-blue">Detail Lesson</span>
            </legend>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <div class="thumbnail">
                <h3><span class="text-aqua "> Name</span>
                    <a href="{% url 'admin:admin-edit-lesson' detail_lesson.id %}"
                       class="btn btn-success btn-xs no-margin" role="button" style="float: right; margin-right: 25px;">Edit</a></h3>
                <div class="thumbnail">
                    {{ detail_lesson.name }}
                </div>
                <h3><span class="text-aqua "> language</span></h3>

                <div class="thumbnail">
                    {{ language }}
                </div>
                <h3><span class="text-aqua "> Status</span></h3>

                <div class="thumbnail">
                    {% if detail_lesson.status %}
                        <label>Enable</label>
                    {% else %}
                        <label>Disabled</label>
                    {% endif %}
                </div>
                <legend>
                    <h3><span class="text-aqua "> Content</span></h3>
                </legend>
                {{ detail_lesson.content }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="thumbnail">
                <legend>
                    Word of Lesson
                <span style="float: right; margin-right: 20px; ">
                    {% if num %}
                        <a href="{% url 'admin:admin-add-word-lesson' detail_lesson.id %}" role="button"
                           class="btn btn-success btn-xs">Add</a>
                    {% else %}
                        {% if detail_lesson.status %}
                            <a href="" role="button" class="btn btn-success btn-xs disabled">Full</a>
                        {% else %}
                            <a href="{% url 'admin:admin-add-word-lesson' detail_lesson.id %}" role="button"
                               class="btn btn-success btn-xs ">Full</a>
                        {% endif %}

                    {% endif %}
                    </span>
                </legend>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <td class="col-lg-1">STT</td>
                        <td class="col-lg-4">Word</td>
                        <td class="col-lg-5">Meaning</td>
                        <td class="col-lg-2"></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in words %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.meaning }}</td>
                            {#                            <td>#}
                            {#                                <form action="" method="post" style="float: right; margin: 0 15px 0 0">#}
                            {#                                    {% csrf_token %}#}
                            {#                                    <input type="hidden" value="{{ detail_word.id }}" name="id_word">#}
                            {#                                    <input type="hidden" value="{{ obj.id }}" name="id_lesson">#}
                            {#                                    <button type="submit" class="btn btn-danger btn-xs"#}
                            {#                                            onclick="return confirm('Are you sure you want delete question ?')">Remover#}
                            {#                                    </button>#}
                            {#                                </form>#}
                            {#                                <a href="" role="button" class="btn btn-info btn-xs ">Edit</a>#}
{#                            </td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="thumbnail">
                <legend>
                    User of lesson
                    <a href="" role="button" class="btn btn-success btn-xs" style="float: right; margin-right: 20px;">Add</a>
                </legend>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <td class="col-lg-1">STT</td>
                        <td class="col-lg-3">Username</td>
                        <td class="col-lg-6">Name</td>
                        <td class="col-lg-2"></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in words %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.meaning }}</td>
                            <td>
                                <form action="" method="post" style="float: right; margin: 0 15px 0 0">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ detail_word.id }}" name="id_word">
                                    <input type="hidden" value="{{ obj.id }}" name="id_lesson">
                                    <button type="submit" class="btn btn-danger btn-xs"
                                            onclick="return confirm('Are you sure you want delete question ?')">Remover
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}