{% extends 'base.html' %}
{% block title %} Course{% endblock %}
{% block content %}
    <div class="row">
        hien thi form
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.management_form }}
            {#            <table>#}
            {% for frm in form %}
                <p>Word: {{ frm.word.id }} -> {{ frm.word.name }}</p>
{#                {% for q in frm.fields['question'].queryset %}#}
{#                {% endfor %}#}
                {{ frm.as_ul }}
            {% endfor %}
            {#            </table>#}
            <input type="submit" value="Submit"/>
        </form>
    </div>
{% endblock %}