{% extends 'base.html' %}
{% block title %} List history exam{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <legend>
                My exam history
            </legend>
        </div>
        <div class="col-sm-12">
            <div class="row">
                {% if list_exam %}
                    {% for obj in list_exam %}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <p><span
                                        class="text-info text-bold"> Name lesson :</span><span> <a
                                        href="{% url 'lesson:lesson-detail' obj.lesson_id %}">{{ obj.lesson_name }}</a></span>
                                </p>

                                <p><span
                                        class="text-info text-bold"> Name course :</span><span> <a
                                        href="{% url 'lesson:lesson-detail' obj.course_id %}">{{ obj.course_name }}</a></span>
                                </p>

                                <p><span
                                        class="text-info text-bold"> Date : </span><span>{{ obj.date|date:'d-m-Y' }}</span>
                                </p>

                                <p>
                                    <span class="text-info text-bold"> Point :</span>
                                    {% if obj.point <= 4 %}
                                        <span class="text-danger">{{ obj.point }}/10</span>
                                    {% elif obj.point > 4 and  obj.point <= 8 %}
                                        <span class="text-info">{{ obj.point }}/10</span>
                                    {% else %}
                                        <span class="text-success">{{ obj.point }}/10</span>
                                    {% endif %}
                                </p>

                                <p><span
                                        class="text-info text-bold">User : </span><span>{{ obj.user_first_name }} {{ obj.user_last_name }}</span>
                                </p>

                                <p><span><a href="{% url 'exam:exam-history-detail' obj.pk %}"> Chi tiết...</a></span>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="thumbnail">
                        Bạn chưa làm bài thi nào
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}