{% extends 'base.html' %}
{% block title %} Course{% endblock %}
{% block content %}
    <div class="row">

        <form action="" method="POST">
            <div class="col-sm-12">
                <div class="row" style="margin: 0 0 5px 0">
                    <div class="col-sm-6">
                        <span class="text-info">Exam for {{ object.name }}</span>
                    </div>
                    <div class="col-sm-2 col-sm-offset-4">
                        <span class="align-right" style="float: left;margin: 0 7px 0 0"><button  class="btn btn-success" type="submit" value="Submit">Submit</button></span>
                        <span class="align-right"><a role="button" class="btn btn-danger"  href="{% url 'lesson:lesson-detail' object.id %}">Cancel</a></span>
                    </div>
                </div>
            </div>
            {% csrf_token %}
            {{ form.management_form }}
            {% for frm in form %}
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <li style="list-style: none"><label for="id_form-{{ forloop.counter0 }}-question_0">
                            Câu {{ forloop.counter }} : Word -> {{ frm.word.name }}</label></li>
                <ul id="id_form-{{ forloop.counter0 }}-question">
                    {% for i in frm.fields.question.queryset %}
                        <li style="list-style: none">
                            <label for="id_form-{{ forloop.parentloop.counter0 }}-question_{{ forloop.counter }}">
                                <input class="Radio"
                                       id="id_form-{{ forloop.parentloop.counter0 }}-question_{{ forloop.counter }}"
                                       name="form-{{ forloop.parentloop.counter0 }}-question" type="radio" value="{{ i.pk }}"/>
                                {{ i.answer }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
                    </div>
                </div>
            {% endfor %}
            <div class="col-sm-12">

            </div>

        </form>
    </div>
{% endblock %}