{% extends 'admin/base_admin.html' %}
{% block title %}
    List Word
{% endblock %}
{% block content_header %}
    <div class="col-lg-5">
        <span class="text-blue">List Word</span>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-11 margin thumbnail">
            <div style="padding: 2px 0 3px 0">
                <div>
                    <a href="{% url 'admin:admin-index-word' %}" role="button"
                       class="btn btn-info btn-sm" style="float: left; margin-left: 25px;">All word</a>
                    <a href="{% url 'admin:admin-word' 1 %}" role="button"
                       class="btn btn-info btn-sm" style="float: left; margin-left: 25px;">English</a>
                    <a href="{% url 'admin:admin-word' 2 %}" role="button"
                       class="btn btn-info btn-sm" style="float: left; margin-left: 25px;">Japanese</a>
                    <a href="{% url 'admin:admin-word' 3 %}" role="button"
                       class="btn btn-info btn-sm" style="float: left; margin-left: 25px;">Chinese</a>
                    <a href="{% url 'admin:admin-word' 4 %}" role="button"
                       class="btn btn-info btn-sm" style="float: left; margin-left: 25px;">French</a>

                </div>
                <span>
                    <a href="{% url 'admin:admin-create-word' %}" role="button"
                       class="btn btn-danger btn-xs" style="float: right; margin-right: 25px;">Create New</a>
                </span>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                        <tr>
                            <th class="col-lg-1">ID</th>
                            <th class="col-lg-3">Name</th>
                            <th class="col-lg-6">Content</th>
                            <th class="col-lg-1">Language</th>
                            <th class="col-lg-1">Options</th>
                        </tr>
                </thead>
                <tbody>
                {% for obj in page_obj %}
                    <tr>
                        <td class="col-lg-1"><a class=" text-info"
                                                href="{% url 'admin:admin-detail-word' obj.id %}">{{ obj.id }}</a>
                        </td>
                        <td class="col-lg-3"><a class=" text-info"
                                                href="{% url 'admin:admin-detail-word' obj.id %}">{{ obj.name }}</a>
                        </td>
                        <td class="col-lg-6"><a class=" text-info"
                                                href="{% url 'admin:admin-detail-word' obj.id %}">{{ obj.meaning }}</a>
                        </td>
                        <td class="col-lg-1"><a class=" text-info"
                                                href="{% url 'admin:admin-word' obj.language.id %}">{{ obj.language.name }}</a>
                        </td>
                        <td class="col-lg-1">
                            <a href="{% url 'admin:admin-edit-word' obj.id %}"
                                       class="btn btn-success btn-xs no-margin" role="button">Edit</a>

                            <form action="{% url 'admin:admin-delete-word' %}" method="post"
                                          style="float: right;">
                                        {% csrf_token %}
                                <input type="hidden" name="id_word" value="{{ obj.id }}">
                                <button type="submit" class="btn btn-danger btn-xs"
                                        onclick="return confirm('Are you sure you want remover user ?')">Delete
                                </button>
                            </form>
                        </td>

                        </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                    <span class="current">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endblock %}